JETTY_HOME={{ jetty_install_dir }}/current
JETTY_BASE={{ ansible_env.HOME }}/{{ app_name }}
JETTY_USER=jetty
JETTY_RUN={{ jetty_install_dir }}/run
JETTY_PID={{ jetty_install_dir }}/run/jetty.pid
JETTY_STATE={{ jetty_install_dir }}/run/jetty.state
JETTY_START_LOG={{ jetty_install_dir }}/run/jetty-start.log
{% if jetty_host is defined %}
JETTY_ARGS="jetty.host={{ jetty_host }}"
{% endif %}
{% if jetty_java_options is defined %}
JAVA_OPTIONS="{{ jetty_java_options }}"
{% endif %}
TMPDIR={{ jetty_install_dir }}/temp
