<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Καλώς ήρθατε στο CI της εφαρμογής {{ app_name }}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="jumbotron">
    <h1>Καλώς ήρθατε στο CI της εφαρμογής<br>{{ app_name }}</h1>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn btn-primary center-block" href="/jenkins/" role="button">
                <img src="jenkins_logo.png"/>
                <p>Powered by https://jenkins.io/</p>
            </a>
            <a class="btn btn-default center-block" href="/sonarqube/" role="button">
                <img src="sonarqube_logo.jpg"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>
