<VirtualHost *:80>
	RewriteEngine On
	RewriteCond %{HTTPS} !=on
	RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</VirtualHost>

<VirtualHost *:443>
	ServerName {{ ansible_hostname }}
	RewriteEngine On

	SSLEngine ON
	SSLCertificateFile /etc/apache2/ssl/server.crt
	SSLCertificateKeyFile /etc/apache2/ssl/server.key

	ProxyRequests Off
	ProxyPreserveHost On
	AllowEncodedSlashes NoDecode
	RequestHeader set X-Forwarded-Proto "https"
	RequestHeader set X-Forwarded-Port "443"

	<Proxy http://localhost:8080/jenkins*>
		Order deny,allow
		Allow from all
	</Proxy>

	ProxyPass /jenkins http://localhost:8080/jenkins nocanon
	ProxyPassReverse /jenkins http://localhost:8080/jenkins

	<Proxy http://localhost:9000/sonarqube*>
		Order deny,allow
		Allow from all
	</Proxy>

	ProxyPass /sonarqube http://localhost:9000/sonarqube
	ProxyPassReverse /sonarqube http://localhost:9000/sonarqube

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
